@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  position: relative;
}

.linestotal {
  border-radius: 10px;
  font-weight: 900;
  background-color: lightgray;
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 20px;
  text-align: right;
  padding: 20px;
}